<ion-view>
    <ion-content>
        <div class="teamList-intro">
            Meet our team
        </div>
        <div class="teamList" ng-repeat="platform in team.platforms">
            <div class="teamList-title">{{platform}}</div>
            <div class="teamList-itemWrap">
                <div ng-repeat="member in team.filterByPlatform(platform)">
                    <div class="teamList-item" ui-sref="app.team.member({ id: member.id, data: member })">
                        <div
                            class="teamList-photo"
                            style="background-image: url({{ member.photoUrl }})">
                        </div>
                        <div class="teamList-name" ng-bind="member.firstName + ' ' + member.lastName"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
