<ion-view>
    <ion-content>
        <a ui-sref="app.team">Go back to team</a>
        <div class="teamMember">
            <div class="teamMember-name teamMember-info" ng-bind="member.data.firstName + ' ' + member.data.lastName"></div>
            <div class="teamMember-photo">
                <img ng-src="{{member.data.photoUrl}}" alt="">
            </div>
            <div class="teamMember-info" ng-bind="member.data.emailAddress" ng-href="mailto:{{member.data.emailAddress}}"></div>
        </div>
    </ion-content>
</ion-view>
