.teamList-photo {
  &.ng-enter {
    /* standard transition code */
    transition: 1s linear all;
    opacity: 0;
  }
  &.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    transition-delay: 0.1s;
    /* As of 1.4.4, this must always be set: it signals ngAnimate
to not accidentally inherit a delay property from another CSS class */
    transition-duration: 0s;
  }
  &.ng-enter.ng-enter-active {
    /* standard transition styles */
    opacity: 1;
  }
}
