<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="css/ionic.app.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-app="starter">

  <ion-pane>
    <ion-content ng-controller="mainController">
      <ion-list class="teamList" ng-repeat="(key,platform) in platforms">
        <h2 class="title" ng-bind="key"></h2>
        <ion-item class="teamList-item" ng-repeat="people in platform">
            <div
                class="teamList-photo"
                style="background-image: url({{ people.photoUrl && 'http://assessments.wearetriple.com/photos/' + people.photoUrl || 'img/profile-icon.png'}})">
            </div>
            <div class="teamList-name" ng-bind="people.firstName + ' ' + people.lastName"></div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
</body>

</html>
